*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}
body{
    background-image: url("https://media.istockphoto.com/id/844226534/es/foto/fondo-de-hoja.jpg?b=1&s=612x612&w=0&k=20&c=BA4dF7HN58YCuecDfNaMG4nex-IuZ7S97sup4ADdY3E=");
    background-size:cover;
}
.logo{
    width:100px;
    height: 100px;
}
.navbar-custom{
    background-color:#07850d;
    font-weight:bold;
    font-size:1.2em;
}

.con2,.con3,.con4,.con5,.con6,.con7,.con8{
    top:50px;
    width: 100vw;
    height: 50vh;
    position: relative;
}
.item{
    position: absolute;
    width: 300px;
    height:300px;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(165, 158, 158);
}
.item1,.item2,.item3{
    margin-top:3.5%;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: start;
}
.item2{
    left: 39%;
}
.item3{
    left: 67.9%;
}
.fre1,.cho1,.leche1,.pos1,.cumple1,.infan1,.boda1{
    width: 300px;
    height: 200px;
}
.des{
    position: absolute;
    top: 85%;
    font-weight: bold;
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.choco{
    position: absolute;
    top: 600px;
}
.item4,.item5,.item6{
    margin-top:7.5%;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: start;
}
.item5{
    left: 39%;
}
.item6{
    left: 67.9%;
}
.leches{
    position: absolute;
    top: 1050px;
}
.item7,.item8,.item9{
    margin-top:12.5%;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: start;
}
.item8{
    left: 39%;
}
.item9{
    left: 67.9%;
}
.postres{
    position: absolute;
    top: 1520px;
}
.item10,.item11,.item12{
    margin-top:16.5%;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: start;
}
.item11{
    left: 39%;
}
.item12{
    left: 67.9%;
}

footer{
    margin-top: 40%;
}

.cumple{
    position: absolute;
    top: 1985px;
}
.item13,.item14,.item15{
    margin-top: 20.5%;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: start;
}
.item14{
    left: 39%;
}
.item15{
    left: 67.9%;
}

.infan{
    position: absolute;
    top: 2450px;
}
.item16,.item17,.item18{
    margin-top: 25.5%;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: start;
}
.item17{
    left: 39%;
}
.item18{
    left: 67.9%;
}
.bodas{
    position: absolute;
    top: 2915px;
}
.item19,.item20,.item21{
    margin-top: 28.5%;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: start;
}
.item20{
    left: 39%;
}
.item21{
    left: 67.9%;
}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }

    .pa{
        visibility: hidden;
    }

    .con2,.con3,.con4,.con5,.con6,.con7,.con8{
        width: 100vw;
        height: 30vh;
        position: relative;
    }

    .fre1,.cho1,.leche1,.pos1,.cumple1,.infan1,.boda1{
        width: 200px;
        height: auto;
    }
    .item{
        position: absolute;
        width:27%;
        margin:0.5%;
        height:300px;
        background-color: white;
        box-shadow: 0px 0px 10px rgb(165, 158, 158);
    }
    .item1,.item2,.item3{
        left: 5%;
        display: flex;
        justify-content: center;
        align-items: start;
    }
    .des,.des2{
        position: absolute;
        top: 60%;
    }
    .des2{
        top:75%;
        font-weight: bold;
    }
    .item2{
        left: 37.5%;
    }
    .item3{
        left: 70%;
    }
    .item4,.item5,.item6{
        left: 5%;
        display: flex;
        justify-content: center;
        align-items: start;
    }
    .item5{
        left: 37.5%;
    }
    .item6{
        left: 70%;
    }
    .item7,.item8,.item9{
        left: 5%;
        display: flex;
        justify-content: center;
        align-items: start;
    }
    .item8{
        left: 37.5%;
    }
    .item9{
        left: 70%;
    }
    .item10,.item11,.item12{
        left: 5%;
        display: flex;
        justify-content: center;
        align-items: start;
    }
    .item11{
        left: 37.5%;
    }
    .item12{
        left:70%;
    }
    .item13,.item14,.item15{
        left: 5%;
        display: flex;
        justify-content: center;
        align-items: start;
    }
    .item14{
        left: 37.5%;
    }
    .item15{
        left: 70%;
    }
    .item16,.item17,.item18{
        left: 5%;
        display: flex;
        justify-content: center;
        align-items: start;
    }
    .item17{
        left: 37.5%;
    }
    .item18{
        left: 70%;
    }
    .item19,.item20,.item21{
        left: 5%;
        display: flex;
        justify-content: center;
        align-items: start;
    }
    .item20{
        left: 37.5%;
    }
    .item21{
        left: 70%;
    }
}
@media screen and (max-width: 432px){
    body{
        overflow-x: hidden;
    }

    .pa{
        visibility: hidden;
    }
    
    .con2,.con3,.con4,.con5,.con6,.con7,.con8{
        width: 100vw;
        height: 30vh;
        position: relative;
    }

    .fre1,.cho1,.leche1,.pos1,.cumple1,.infan1,.boda1{
        width: 90%;
        height: auto;
    }
    .item{
        position: absolute;
        width:27%;
        margin:0.5%;
        height:80%;
        background-color: white;
        box-shadow: 0px 0px 10px rgb(165, 158, 158);
    }
    .item1,.item2,.item3{
        left: 5%;
        display: flex;
        justify-content: center;
        align-items: start;
    }
    .des{
        font-size: 0.8em;
        text-align: center;
        position: absolute;
        top: 50%;
    }
    .des2{
        top:75%;
        font-size: 1em;
        font-weight: bold;
    }
    .item2{
        left: 37.5%;
    }
    .item3{
        left: 70%;
    }
    .item4,.item5,.item6{
        left: 5%;
        display: flex;
        justify-content: center;
        align-items: start;
    }
    .item5{
        left: 37.5%;
    }
    .item6{
        left: 70%;
    }
    .item7,.item8,.item9{
        left: 5%;
        display: flex;
        justify-content: center;
        align-items: start;
    }
    .item8{
        left: 37.5%;
    }
    .item9{
        left: 70%;
    }
    .item10,.item11,.item12{
        left: 5%;
        display: flex;
        justify-content: center;
        align-items: start;
    }
    .item11{
        left: 37.5%;
    }
    .item12{
        left:70%;
    }
    .item13,.item14,.item15{
        left: 5%;
        display: flex;
        justify-content: center;
        align-items: start;
    }
    .item14{
        left: 37.5%;
    }
    .item15{
        left: 70%;
    }
    .item16,.item17,.item18{
        left: 5%;
        display: flex;
        justify-content: center;
        align-items: start;
    }
    .item17{
        left: 37.5%;
    }
    .item18{
        left: 70%;
    }
    .item19,.item20,.item21{
        left: 5%;
        display: flex;
        justify-content: center;
        align-items: start;
    }
    .item20{
        left: 37.5%;
    }
    .item21{
        left: 70%;
    }
}